/* Display utilities
   ========================================================================== */

.u-dI {
	display: inline !important;
}

.u-dB {
	display: block !important;
}

.u-dIB {
	display: inline-block !important;
	max-width: 100%;
}

.u-dF {
	display: flex !important;
}

.u-dT {
	display: table !important;
}

.u-dTR {
	display: table-row !important;
}

.u-dTC {
	display: table-cell !important;
}

@include mq($from: small) {
	.u-dI\@sUp {
		display: inline !important;
	}

	.u-dB\@sUp {
		display: block !important;
	}

	.u-dIB\@sUp {
		display: inline-block !important;
		max-width: 100%;
	}

	.u-dF\@sUp {
		display: flex !important;
	}

	.u-dT\@sUp {
		display: table !important;
	}

	.u-dTR\@sUp {
		display: table-row !important;
	}

	.u-dTC\@sUp {
		display: table-cell !important;
	}
}

@include mq($from: medium) {
	.u-dI\@mUp {
		display: inline !important;
	}

	.u-dB\@mUp {
		display: block !important;
	}

	.u-dIB\@mUp {
		display: inline-block !important;
		max-width: 100%;
	}

	.u-dF\@mUp {
		display: flex !important;
	}

	.u-dT\@mUp {
		display: table !important;
	}

	.u-dTR\@mUp {
		display: table-row !important;
	}

	.u-dTC\@mUp {
		display: table-cell !important;
	}
}
