/* Layout utilities
   ========================================================================== */

/**
 * Add/remove floats
 */
.u-fR {
	float: right !important;
}
.u-fL {
	float: left !important;
}
.u-fN {
	float: none !important;
}

@include mq($from: small) {
	.u-fR--sUp {
		float: right !important;
	}
	.u-fL--sUp {
		float: left !important;
	}
	.u-fN--sUp {
		float: none !important;
	}
}

@include mq($from: medium) {
	.u-fR--mUp {
		float: right !important;
	}
	.u-fL--mUp {
		float: left !important;
	}
	.u-fN--mUp {
		float: none !important;
	}
}

@include mq($from: large) {
	.u-fR--lUp {
		float: right !important;
	}
	.u-fL--lUp {
		float: left !important;
	}
	.u-fN--lUp {
		float: none !important;
	}
}

/**
 * Clear floats
 */
.u-clear {
	clear: both;
}

/**
 * Clearfix
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
.u-cf {
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
	
	@include oldIE {
    		*zoom: 1;
    }
}

/**
 * New block formatting context
 * Element won't wrap under floats. It will also contain any floated children
 */
.u-bfc {
	overflow: hidden;

	@include oldIE {
	   *overflow: visible;
	   *zoom: 1;
	}
}

.u-bfcAlt {
	display: table-cell;
	width: 10000px;

	@include oldIE {
		*width: auto;
		*zoom: 1;
	}
}

/**
 * Horizontal and vertical centering (remove the whitespace in HTML!)
 *
 * <div class="u-alignCenter">
 *     <div class="u-alignCenter-inner"></div>
 * </div>
 */
.u-alignCenter {
	text-align: center;

	&:before {
		display: inline-block;
		min-height: inherit;
		max-height: inherit;
		width: 0;
		height: 100%;
		content: "";
		vertical-align: middle;
	}
}
	.u-alignCenter-inner {
		display: inline-block;
		vertical-align: middle;
	}