/* Margins
   ========================================================================== */

/**
 * All
 */
.u-m0 {
	margin: 0 !important;
}
.u-m1 {
	@include rem(margin, $spacingUnit-half, true);
}
.u-m2 {
	@include rem(margin, $spacingUnit-base, true);
}
.u-m3 {
	@include rem(margin, $spacingUnit-medium, true);
}
.u-m4 {
	@include rem(margin, $spacingUnit-double, true);
}

/**
 * Horizontal
 */
.u-mxa {
	margin-left: auto !important;
	margin-right: auto !important;
}
.u-mxn1 {
	@include rem(margin-left, -$spacingUnit-half, true);
	@include rem(margin-right, -$spacingUnit-half, true);
}
.u-mxn2 {
	@include rem(margin-left, -$spacingUnit-base, true);
	@include rem(margin-right, -$spacingUnit-base, true);
}
.u-mxn3 {
	@include rem(margin-left, -$spacingUnit-medium, true);
	@include rem(margin-right, -$spacingUnit-medium, true);
}
.u-mxn4 {
	@include rem(margin-left, -$spacingUnit-double, true);
	@include rem(margin-right, -$spacingUnit-double, true);
}

/**
 * Top
 */
.u-mt0 {
	margin-top: 0 !important;
}
.u-mt1 {
	@include rem(margin-top, $spacingUnit-half, true);
}
.u-mt2 {
	@include rem(margin-top, $spacingUnit-base, true);
}
.u-mt3 {
	@include rem(margin-top, $spacingUnit-medium, true);
}
.u-mt4 {
	@include rem(margin-top, $spacingUnit-double, true);
}

/**
 * Bottom
 */
.u-mb0 {
	margin-bottom: 0 !important;
}
.u-mb1 {
	@include rem(margin-bottom, $spacingUnit-half, true);
}
.u-mb2 {
	@include rem(margin-bottom, $spacingUnit-base, true);
}
.u-mb3 {
	@include rem(margin-bottom, $spacingUnit-medium, true);
}
.u-mb4 {
	@include rem(margin-bottom, $spacingUnit-double, true);
}

/**
 * Left
 */
.u-ml0 {
	margin-left: 0 !important;
}
.u-ml1 {
	@include rem(margin-left, $spacingUnit-half, true);
}
.u-ml2 {
	@include rem(margin-left, $spacingUnit-base, true);
}
.u-ml3 {
	@include rem(margin-left, $spacingUnit-medium, true);
}
.u-ml4 {
	@include rem(margin-left, $spacingUnit-double, true);
}

/**
 * Right
 */
.u-mr0 {
	margin-right: 0 !important;
}
.u-mr1 {
	@include rem(margin-right, $spacingUnit-half, true);
}
.u-mr2 {
	@include rem(margin-right, $spacingUnit-base, true);
}
.u-mr3 {
	@include rem(margin-right, $spacingUnit-medium, true);
}
.u-mr4 {
	@include rem(margin-right, $spacingUnit-double, true);
}

@include mq($from: small) {
	.u-m0\@sUp {
		margin: 0 !important;
	}
	.u-m1\@sUp {
		@include rem(margin, $spacingUnit-half, true);
	}
	.u-m2\@sUp {
		@include rem(margin, $spacingUnit-base, true);
	}
	.u-m3\@sUp {
		@include rem(margin, $spacingUnit-medium, true);
	}
	.u-m4\@sUp {
		@include rem(margin, $spacingUnit-double, true);
	}
	
	.u-mxa\@sUp {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.u-mxn1\@sUp {
		@include rem(margin-left, -$spacingUnit-half, true);
		@include rem(margin-right, -$spacingUnit-half, true);
	}
	.u-mxn2\@sUp {
		@include rem(margin-left, -$spacingUnit-base, true);
		@include rem(margin-right, -$spacingUnit-base, true);
	}
	.u-mxn3\@sUp {
		@include rem(margin-left, -$spacingUnit-medium, true);
		@include rem(margin-right, -$spacingUnit-medium, true);
	}
	.u-mxn4\@sUp {
		@include rem(margin-left, -$spacingUnit-double, true);
		@include rem(margin-right, -$spacingUnit-double, true);
	}
	
	.u-mt0\@sUp {
		margin-top: 0 !important;
	}
	.u-mt1\@sUp {
		@include rem(margin-top, $spacingUnit-half, true);
	}
	.u-mt2\@sUp {
		@include rem(margin-top, $spacingUnit-base, true);
	}
	.u-mt3\@sUp {
		@include rem(margin-top, $spacingUnit-medium, true);
	}
	.u-mt4\@sUp {
		@include rem(margin-top, $spacingUnit-double, true);
	}

	.u-mb0\@sUp {
		margin-bottom: 0 !important;
	}
	.u-mb1\@sUp {
		@include rem(margin-bottom, $spacingUnit-half, true);
	}
	.u-mb2\@sUp {
		@include rem(margin-bottom, $spacingUnit-base, true);
	}
	.u-mb3\@sUp {
		@include rem(margin-bottom, $spacingUnit-medium, true);
	}
	.u-mb4\@sUp {
		@include rem(margin-bottom, $spacingUnit-double, true);
	}

	.u-ml0\@sUp {
		margin-left: 0 !important;
	}
	.u-ml1\@sUp {
		@include rem(margin-left, $spacingUnit-half, true);
	}
	.u-ml2\@sUp {
		@include rem(margin-left, $spacingUnit-base, true);
	}
	.u-ml3\@sUp {
		@include rem(margin-left, $spacingUnit-medium, true);
	}
	.u-ml4\@sUp {
		@include rem(margin-left, $spacingUnit-double, true);
	}

	.u-mr0\@sUp {
		margin-right: 0 !important;
	}
	.u-mr1\@sUp {
		@include rem(margin-right, $spacingUnit-half, true);
	}
	.u-mr2\@sUp {
		@include rem(margin-right, $spacingUnit-base, true);
	}
	.u-mr3\@sUp {
		@include rem(margin-right, $spacingUnit-medium, true);
	}
	.u-mr4\@sUp {
		@include rem(margin-right, $spacingUnit-double, true);
	}
}

@include mq($from: medium) {
	.u-m0\@mUp {
		margin: 0 !important;
	}
	.u-m1\@mUp {
		@include rem(margin, $spacingUnit-half, true);
	}
	.u-m2\@mUp {
		@include rem(margin, $spacingUnit-base, true);
	}
	.u-m3\@mUp {
		@include rem(margin, $spacingUnit-medium, true);
	}
	.u-m4\@mUp {
		@include rem(margin, $spacingUnit-double, true);
	}
	
	.u-mxa\@mUp {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.u-mxn1\@mUp {
		@include rem(margin-left, -$spacingUnit-half, true);
		@include rem(margin-right, -$spacingUnit-half, true);
	}
	.u-mxn2\@mUp {
		@include rem(margin-left, -$spacingUnit-base, true);
		@include rem(margin-right, -$spacingUnit-base, true);
	}
	.u-mxn3\@mUp {
		@include rem(margin-left, -$spacingUnit-medium, true);
		@include rem(margin-right, -$spacingUnit-medium, true);
	}
	.u-mxn4\@mUp {
		@include rem(margin-left, -$spacingUnit-double, true);
		@include rem(margin-right, -$spacingUnit-double, true);
	}
	
	.u-mt0\@mUp {
		margin-top: 0 !important;
	}
	.u-mt1\@mUp {
		@include rem(margin-top, $spacingUnit-half, true);
	}
	.u-mt2\@mUp {
		@include rem(margin-top, $spacingUnit-base, true);
	}
	.u-mt3\@mUp {
		@include rem(margin-top, $spacingUnit-medium, true);
	}
	.u-mt4\@mUp {
		@include rem(margin-top, $spacingUnit-double, true);
	}
	
	.u-mb0\@mUp {
		margin-bottom: 0 !important;
	}
	.u-mb1\@mUp {
		@include rem(margin-bottom, $spacingUnit-half, true);
	}
	.u-mb2\@mUp {
		@include rem(margin-bottom, $spacingUnit-base, true);
	}
	.u-mb3\@mUp {
		@include rem(margin-bottom, $spacingUnit-medium, true);
	}
	.u-mb4\@mUp {
		@include rem(margin-bottom, $spacingUnit-double, true);
	}
	
	.u-ml0\@mUp {
		margin-left: 0 !important;
	}
	.u-ml1\@mUp {
		@include rem(margin-left, $spacingUnit-half, true);
	}
	.u-ml2\@mUp {
		@include rem(margin-left, $spacingUnit-base, true);
	}
	.u-ml3\@mUp {
		@include rem(margin-left, $spacingUnit-medium, true);
	}
	.u-ml4\@mUp {
		@include rem(margin-left, $spacingUnit-double, true);
	}
	
	.u-mr0\@mUp {
		margin-right: 0 !important;
	}
	.u-mr1\@mUp {
		@include rem(margin-right, $spacingUnit-half, true);
	}
	.u-mr2\@mUp {
		@include rem(margin-right, $spacingUnit-base, true);
	}
	.u-mr3\@mUp {
		@include rem(margin-right, $spacingUnit-medium, true);
	}
	.u-mr4\@mUp {
		@include rem(margin-right, $spacingUnit-double, true);
	}
}
