/* Paddings
   ========================================================================== */
/**
 * All
 */

.u-p0 {
	padding: 0 !important;
}
.u-p1 {
	@include rem(padding, $spacingUnit-half, true);
}
.u-p2 {
	@include rem(padding, $spacingUnit-base, true);
}
.u-p3 {
	@include rem(padding, $spacingUnit-medium, true);
}
.u-p4 {
	@include rem(padding, $spacingUnit-double, true);
}

/**
 * Top
 */
.u-pt0 {
	padding-top: 0 !important;
}
.u-pt1 {
	@include rem(padding-top, $spacingUnit-half, true);
}
.u-pt2 {
	@include rem(padding-top, $spacingUnit-base, true);
}
.u-pt3 {
	@include rem(padding-top, $spacingUnit-medium, true);
}
.u-pt4 {
	@include rem(padding-top, $spacingUnit-double, true);
}

/**
 * Bottom
 */
.u-pb0 {
	padding-bottom: 0 !important;
}
.u-pb1 {
	@include rem(padding-bottom, $spacingUnit-half, true);
}
.u-pb2 {
	@include rem(padding-bottom, $spacingUnit-base, true);
}
.u-pb3 {
	@include rem(padding-bottom, $spacingUnit-medium, true);
}
.u-pb4 {
	@include rem(padding-bottom, $spacingUnit-double, true);
}

/**
 * Left
 */
.u-pl0 {
	padding-left: 0 !important;
}
.u-pl1 {
	@include rem(padding-left, $spacingUnit-half, true);
}
.u-pl2 {
	@include rem(padding-left, $spacingUnit-base, true);
}
.u-pl3 {
	@include rem(padding-left, $spacingUnit-medium, true);
}
.u-pl4 {
	@include rem(padding-left, $spacingUnit-double, true);
}

/**
 * Right
 */
.u-pr0 {
	padding-right: 0 !important;
}
.u-pr1 {
	@include rem(padding-right, $spacingUnit-half, true);
}
.u-pr2 {
	@include rem(padding-right, $spacingUnit-base, true);
}
.u-pr3 {
	@include rem(padding-right, $spacingUnit-medium, true);
}
.u-pr4 {
	@include rem(padding-right, $spacingUnit-double, true);
}

@include mq($from: small) {
	.u-p0\@sUp {
		padding: 0 !important;
	}
	.u-p1\@sUp {
		@include rem(padding, $spacingUnit-half, true);
	}
	.u-p2\@sUp {
		@include rem(padding, $spacingUnit-base, true);
	}
	.u-p3\@sUp {
		@include rem(padding, $spacingUnit-medium, true);
	}
	.u-p4\@sUp {
		@include rem(padding, $spacingUnit-double, true);
	}
	
	.u-pt0\@sUp {
		padding-top: 0 !important;
	}
	.u-pt1\@sUp {
		@include rem(padding-top, $spacingUnit-half, true);
	}
	.u-pt2\@sUp {
		@include rem(padding-top, $spacingUnit-base, true);
	}
	.u-pt3\@sUp {
		@include rem(padding-top, $spacingUnit-medium, true);
	}
	.u-pt4\@sUp {
		@include rem(padding-top, $spacingUnit-double, true);
	}
	
	.u-pb0\@sUp {
		padding-bottom: 0 !important;
	}
	.u-pb1\@sUp {
		@include rem(padding-bottom, $spacingUnit-half, true);
	}
	.u-pb2\@sUp {
		@include rem(padding-bottom, $spacingUnit-base, true);
	}
	.u-pb3\@sUp {
		@include rem(padding-bottom, $spacingUnit-medium, true);
	}
	.u-pb4\@sUp {
		@include rem(padding-bottom, $spacingUnit-double, true);
	}
	
	.u-pl0\@sUp {
		padding-left: 0 !important;
	}
	.u-pl1\@sUp {
		@include rem(padding-left, $spacingUnit-half, true);
	}
	.u-pl2\@sUp {
		@include rem(padding-left, $spacingUnit-base, true);
	}
	.u-pl3\@sUp {
		@include rem(padding-left, $spacingUnit-medium, true);
	}
	.u-pl4\@sUp {
		@include rem(padding-left, $spacingUnit-double, true);
	}
	
	.u-pr0\@sUp {
		padding-right: 0 !important;
	}
	.u-pr1\@sUp {
		@include rem(padding-right, $spacingUnit-half, true);
	}
	.u-pr2\@sUp {
		@include rem(padding-right, $spacingUnit-base, true);
	}
	.u-pr3\@sUp {
		@include rem(padding-right, $spacingUnit-medium, true);
	}
	.u-pr4\@sUp {
		@include rem(padding-right, $spacingUnit-double, true);
	}
}

@include mq($from: medium) {
	.u-p0\@mUp {
		padding: 0 !important;
	}
	.u-p1\@mUp {
		@include rem(padding, $spacingUnit-half, true);
	}
	.u-p2\@mUp {
		@include rem(padding, $spacingUnit-base, true);
	}
	.u-p3\@mUp {
		@include rem(padding, $spacingUnit-medium, true);
	}
	.u-p4\@mUp {
		@include rem(padding, $spacingUnit-double, true);
	}
	
	.u-pt0\@mUp {
		padding-top: 0 !important;
	}
	.u-pt1\@mUp {
		@include rem(padding-top, $spacingUnit-half, true);
	}
	.u-pt2\@mUp {
		@include rem(padding-top, $spacingUnit-base, true);
	}
	.u-pt3\@mUp {
		@include rem(padding-top, $spacingUnit-medium, true);
	}
	.u-pt4\@mUp {
		@include rem(padding-top, $spacingUnit-double, true);
	}
	
	.u-pb0\@mUp {
		padding-bottom: 0 !important;
	}
	.u-pb1\@mUp {
		@include rem(padding-bottom, $spacingUnit-half, true);
	}
	.u-pb2\@mUp {
		@include rem(padding-bottom, $spacingUnit-base, true);
	}
	.u-pb3\@mUp {
		@include rem(padding-bottom, $spacingUnit-medium, true);
	}
	.u-pb4\@mUp {
		@include rem(padding-bottom, $spacingUnit-double, true);
	}
	
	.u-pl0\@mUp {
		padding-left: 0 !important;
	}
	.u-pl1\@mUp {
		@include rem(padding-left, $spacingUnit-half, true);
	}
	.u-pl2\@mUp {
		@include rem(padding-left, $spacingUnit-base, true);
	}
	.u-pl3\@mUp {
		@include rem(padding-left, $spacingUnit-medium, true);
	}
	.u-pl4\@mUp {
		@include rem(padding-left, $spacingUnit-double, true);
	}
	
	.u-pr0\@mUp {
		padding-right: 0 !important;
	}
	.u-pr1\@mUp {
		@include rem(padding-right, $spacingUnit-half, true);
	}
	.u-pr2\@mUp {
		@include rem(padding-right, $spacingUnit-base, true);
	}
	.u-pr3\@mUp {
		@include rem(padding-right, $spacingUnit-medium, true);
	}
	.u-pr4\@mUp {
		@include rem(padding-right, $spacingUnit-double, true);
	}
}