/* Ratios
   ========================================================================== */
   
.u-ratio4by3:before {
	padding-top: 75%;
}

.u-ratio16by9:before {
	padding-top: 56.25%;
}

.u-ratio2by1:before {
	padding-top: 50%;
}

.u-ratio3by1:before {
	padding-top: 33.333%;
}