/* Vertical alignment utilities
   ========================================================================== */

.u-vaT {
	vertical-align: top !important;
}
.u-vaM {
	vertical-align: middle !important;
}
.u-vaBL {
	vertical-align: baseline !important;
}
.u-vaB {
	vertical-align: bottom !important;
}