// Font icons config
// =============================================================================

$useFontIcons: false;

$fontIconsFamily: 'icons';

$fontIcons: (
	'user' '\e600',
	'help' '\e601',
	'folder' '\e602'
);