$golden           : 1.618;
$doubleOctave     : 4;
$majorTwelfth     : 3;
$majorEleventh    : 2.667;
$majorTenth       : 2.5;
$octave           : 2;
$majorSeventh     : 1.875;
$minorSeventh     : 1.778;
$majorSixth       : 1.667;
$minorSixth       : 1.6;
$fifth            : 1.5;
$augmentedFourth  : 1.414;
$fourth           : 1.333;
$majorThird       : 1.25;
$minorThird       : 1.2;
$majorSecond      : 1.125;
$minorSecond      : 1.067;