/* Headings
   ========================================================================== */
$fontSize--hdg1: _ms(3); // .Hdg1
//$lineHeight--hdg1: $lineHeight-base * 3;
$lineHeight--hdg1: $lineHeight-base * 2; // .Hdg1
$fontSize--hdg2: _ms(2); // .Hdg2
$lineHeight--hdg2: $lineHeight-base * 2; // .Hdg2
$fontSize--hdg3: _ms(1); // .Hdg3
$lineHeight--hdg3: $lineHeight-base; // .Hdg3

/**
 * Font size setting
 * 16px @ 1:1.333 (http://modularscale.com/scale/?px1=16&ra1=1.333)
 * http://j.mp/sUvKuN
 */
h1, .Hdg1 {
	@include fontSize($fontSize--hdg1);
	@include lineHeight($fontSize--hdg1, $lineHeight--hdg1);
}
h2, .Hdg2 {
	@include fontSize($fontSize--hdg2);
	@include lineHeight($fontSize--hdg2, $lineHeight--hdg2);
}
h3, .Hdg3 {
	@include fontSize($fontSize--hdg3);
	@include lineHeight($fontSize--hdg3, $lineHeight--hdg3);
	margin-bottom: 0;
}