/* Headings
   ========================================================================== */
$fontSize--hdg1: $fontSize-base * 2; // .Hdg1
$fontSize--hdg2: $fontSize-base * 1.5; // .Hdg2
$fontSize--hdg3: $fontSize-base * 1.25; // .Hdg3

/**
 * Font size setting
 * 16px @ 1:1.333 (http://modularscale.com/scale/?px1=16&ra1=1.333)
 * http://j.mp/sUvKuN
 */
h1, .Hdg1 {
	@include fontSize($fontSize--hdg1);
}
h2, .Hdg2 {
	@include fontSize($fontSize--hdg2);
}
h3, .Hdg3 {
	@include fontSize($fontSize--hdg3);
	margin-bottom: 0;
}