/* Page
   ========================================================================== */

/**
 * http://j.mp/rNg5uA
 */
html {
	overflow-y: scroll;
	background-color: $white;
	font-family: $fontFamily-body;
	line-height: $lineHeightRatio-base;
	font-weight: $fontWeight-body;
	color: $textColor-darker;

	@include oldIE {
		font-size: _pc($fontSize-base);
	}
	
	@include notOldIE {
		@include fluidType(_em(320 1920 ($fontSize-base - 2) ($fontSize-base + 2)));
	}
}
html,
body {
	min-height: 100%;
}

@include mqSyncGen($breakpointsSync);

::-moz-selection {
	background-color: $backgroundColor-selection;
	text-shadow: none;
}
::selection {
	background-color: $backgroundColor-selection;
	text-shadow: none;
}

img::selection { background-color: transparent; }
img::-moz-selection { background-color: transparent; }