// Proportional units
// https://gist.github.com/necolas/2377865

@mixin proportionalUnits(
	$units,
	$classSlug: 'size',
	$property: width,
	$modifier: ''
) {
	// workaround for "invalid selector after" error
	$modifier: if($modifier == '', $modifier, '#{\@}#{$modifier}');

	@each $n in $units {
		// Avoid creating rules like `.u-size12of12 {}`
		$x: $n - 1;

		@for $i from 1 through $x {
			// Initialize variables
			$i-r: ();
			$n-r: ();

			// Find the greatest common factor
			$g: gcd($i, $n);

			@if $g > 1 {
				// Reduced value of $i
				$i-r: $i/$g;
				// Reduced value of $n
				$n-r: $n/$g;
			}

			// Check if the reduced value of $n was also supplied in the list
			// of units to be built
			$canReduce: contains($units, $n-r);

			// Create units based on fractions
			.#{$classSlug}#{$i}of#{$n}#{$modifier} {
				// If this unit can be reduced extend the previous rule
				@if $i-r and $canReduce {
					@extend .#{$classSlug}#{$i-r}of#{$n-r}#{$modifier};
				}
				// Otherwise create a new %
				@else {
					#{$property}: percentage($i / $n) !important;
				}
			}
		}
	}
}