/* Margins
   ========================================================================== */

/**
 * All
 */
.u-m0 {
	margin: 0 !important;
}
.u-m1 {
	margin: _rem($spacingUnit-half) !important;
}
.u-m2 {
	margin: _rem($spacingUnit-base) !important;
}
.u-m3 {
	margin: _rem($spacingUnit-medium) !important;
}
.u-m4 {
	margin: _rem($spacingUnit-double) !important;
}

/**
 * Horizontal
 */
.u-mxa {
	margin-left: auto !important;
	margin-right: auto !important;
}
.u-mxn1 {
	margin-left: _rem(-$spacingUnit-half) !important;
	margin-right: _rem(-$spacingUnit-half) !important;
}
.u-mxn2 {
	margin-left: _rem(-$spacingUnit-base) !important;
	margin-right: _rem(-$spacingUnit-base) !important;
}
.u-mxn3 {
	margin-left: _rem(-$spacingUnit-medium) !important;
	margin-right: _rem(-$spacingUnit-medium) !important;
}
.u-mxn4 {
	margin-left: _rem(-$spacingUnit-double) !important;
	margin-right: _rem(-$spacingUnit-double) !important;
}

/**
 * Top
 */
.u-mt0 {
	margin-top: 0 !important;
}
.u-mt1 {
	margin-top: _rem($spacingUnit-half) !important;
}
.u-mt2 {
	margin-top: _rem($spacingUnit-base) !important;
}
.u-mt3 {
	margin-top: _rem($spacingUnit-medium) !important;
}
.u-mt4 {
	margin-top: _rem($spacingUnit-double) !important;
}

/**
 * Bottom
 */
.u-mb0 {
	margin-bottom: 0 !important;
}
.u-mb1 {
	margin-bottom: _rem($spacingUnit-half) !important;
}
.u-mb2 {
	margin-bottom: _rem($spacingUnit-base) !important;
}
.u-mb3 {
	margin-bottom: _rem($spacingUnit-medium) !important;
}
.u-mb4 {
	margin-bottom: _rem($spacingUnit-double) !important;
}

/**
 * Left
 */
.u-ml0 {
	margin-left: 0 !important;
}
.u-ml1 {
	margin-left: _rem($spacingUnit-half) !important;
}
.u-ml2 {
	margin-left: _rem($spacingUnit-base) !important;
}
.u-ml3 {
	margin-left: _rem($spacingUnit-medium) !important;
}
.u-ml4 {
	margin-left: _rem($spacingUnit-double) !important;
}

/**
 * Right
 */
.u-mr0 {
	margin-right: 0 !important;
}
.u-mr1 {
	margin-right: _rem($spacingUnit-half) !important;
}
.u-mr2 {
	margin-right: _rem($spacingUnit-base) !important;
}
.u-mr3 {
	margin-right: _rem($spacingUnit-medium) !important;
}
.u-mr4 {
	margin-right: _rem($spacingUnit-double) !important;
}

@include mq($from: medium) {
	.u-m0\@mUp {
		margin: 0 !important;
	}
	.u-m1\@mUp {
		margin: _rem($spacingUnit-half) !important;
	}
	.u-m2\@mUp {
		margin: _rem($spacingUnit-base) !important;
	}
	.u-m3\@mUp {
		margin: _rem($spacingUnit-medium) !important;
	}
	.u-m4\@mUp {
		margin: _rem($spacingUnit-double) !important;
	}

	.u-mxa\@mUp {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.u-mxn1\@mUp {
		margin-left: _rem(-$spacingUnit-half) !important;
		margin-right: _rem(-$spacingUnit-half) !important;
	}
	.u-mxn2\@mUp {
		margin-left: _rem(-$spacingUnit-base) !important;
		margin-right: _rem(-$spacingUnit-base) !important;
	}
	.u-mxn3\@mUp {
		margin-left: _rem(-$spacingUnit-medium) !important;
		margin-right: _rem(-$spacingUnit-medium) !important;
	}
	.u-mxn4\@mUp {
		margin-left: _rem(-$spacingUnit-double) !important;
		margin-right: _rem(-$spacingUnit-double) !important;
	}

	.u-mt0\@mUp {
		margin-top: 0 !important;
	}
	.u-mt1\@mUp {
		margin-top: _rem($spacingUnit-half) !important;
	}
	.u-mt2\@mUp {
		margin-top: _rem($spacingUnit-base) !important;
	}
	.u-mt3\@mUp {
		margin-top: _rem($spacingUnit-medium) !important;
	}
	.u-mt4\@mUp {
		margin-top: _rem($spacingUnit-double) !important;
	}

	.u-mb0\@mUp {
		margin-bottom: 0 !important;
	}
	.u-mb1\@mUp {
		margin-bottom: _rem($spacingUnit-half) !important;
	}
	.u-mb2\@mUp {
		margin-bottom: _rem($spacingUnit-base) !important;
	}
	.u-mb3\@mUp {
		margin-bottom: _rem($spacingUnit-medium) !important;
	}
	.u-mb4\@mUp {
		margin-bottom: _rem($spacingUnit-double) !important;
	}

	.u-ml0\@mUp {
		margin-left: 0 !important;
	}
	.u-ml1\@mUp {
		margin-left: _rem($spacingUnit-half) !important;
	}
	.u-ml2\@mUp {
		margin-left: _rem($spacingUnit-base) !important;
	}
	.u-ml3\@mUp {
		margin-left: _rem($spacingUnit-medium) !important;
	}
	.u-ml4\@mUp {
		margin-left: _rem($spacingUnit-double) !important;
	}

	.u-mr0\@mUp {
		margin-right: 0 !important;
	}
	.u-mr1\@mUp {
		margin-right: _rem($spacingUnit-half) !important;
	}
	.u-mr2\@mUp {
		margin-right: _rem($spacingUnit-base) !important;
	}
	.u-mr3\@mUp {
		margin-right: _rem($spacingUnit-medium) !important;
	}
	.u-mr4\@mUp {
		margin-right: _rem($spacingUnit-double) !important;
	}
}

@include mq($from: large) {
	.u-m0\@lUp {
		margin: 0 !important;
	}
	.u-m1\@lUp {
		margin: _rem($spacingUnit-half) !important;
	}
	.u-m2\@lUp {
		margin: _rem($spacingUnit-base) !important;
	}
	.u-m3\@lUp {
		margin: _rem($spacingUnit-medium) !important;
	}
	.u-m4\@lUp {
		margin: _rem($spacingUnit-double) !important;
	}

	.u-mxa\@lUp {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.u-mxn1\@lUp {
		margin-left: _rem(-$spacingUnit-half) !important;
		margin-right: _rem(-$spacingUnit-half) !important;
	}
	.u-mxn2\@lUp {
		margin-left: _rem(-$spacingUnit-base) !important;
		margin-right: _rem(-$spacingUnit-base) !important;
	}
	.u-mxn3\@lUp {
		margin-left: _rem(-$spacingUnit-medium) !important;
		margin-right: _rem(-$spacingUnit-medium) !important;
	}
	.u-mxn4\@lUp {
		margin-left: _rem(-$spacingUnit-double) !important;
		margin-right: _rem(-$spacingUnit-double) !important;
	}

	.u-mt0\@lUp {
		margin-top: 0 !important;
	}
	.u-mt1\@lUp {
		margin-top: _rem($spacingUnit-half) !important;
	}
	.u-mt2\@lUp {
		margin-top: _rem($spacingUnit-base) !important;
	}
	.u-mt3\@lUp {
		margin-top: _rem($spacingUnit-medium) !important;
	}
	.u-mt4\@lUp {
		margin-top: _rem($spacingUnit-double) !important;
	}

	.u-mb0\@lUp {
		margin-bottom: 0 !important;
	}
	.u-mb1\@lUp {
		margin-bottom: _rem($spacingUnit-half) !important;
	}
	.u-mb2\@lUp {
		margin-bottom: _rem($spacingUnit-base) !important;
	}
	.u-mb3\@lUp {
		margin-bottom: _rem($spacingUnit-medium) !important;
	}
	.u-mb4\@lUp {
		margin-bottom: _rem($spacingUnit-double) !important;
	}

	.u-ml0\@lUp {
		margin-left: 0 !important;
	}
	.u-ml1\@lUp {
		margin-left: _rem($spacingUnit-half) !important;
	}
	.u-ml2\@lUp {
		margin-left: _rem($spacingUnit-base) !important;
	}
	.u-ml3\@lUp {
		margin-left: _rem($spacingUnit-medium) !important;
	}
	.u-ml4\@lUp {
		margin-left: _rem($spacingUnit-double) !important;
	}

	.u-mr0\@lUp {
		margin-right: 0 !important;
	}
	.u-mr1\@lUp {
		margin-right: _rem($spacingUnit-half) !important;
	}
	.u-mr2\@lUp {
		margin-right: _rem($spacingUnit-base) !important;
	}
	.u-mr3\@lUp {
		margin-right: _rem($spacingUnit-medium) !important;
	}
	.u-mr4\@lUp {
		margin-right: _rem($spacingUnit-double) !important;
	}
}
