.bgc-dark {
	background-color: $backgroundColor-dark;
}

.bgc-lightest {
	background-color: $backgroundColor-lightest;
}

.bgc-base {
	background-color: $color-base;
}

.bgc-comp {
	background-color: $color-comp;
}