@mixin obj-Nav {
	list-style: none;
	margin-left: 0;

	> li {

		&,
		> a{
			display: inline-block;

			@include oldIE {
			   *display: inline;
				zoom: 1;
			}
		}
	}
}

@mixin obj-Nav--block {
	letter-spacing: -.31em;
	text-rendering: optimizespeed;

	.opera-only :-o-prefocus,
	& {
		word-spacing: -.43em;
	}

	> li {
		text-rendering: auto;
		word-spacing: normal;
		letter-spacing: normal;

		> a {
			padding: _em($spacingUnit-half);
		}
	}
}